@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: 100%/1.3 Roboto, sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: orange;
  display: block;
  padding-bottom: .5em;
  padding-right: .75em;
  padding-top: .5em;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: right;
  padding-top: 4em;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-label {
  margin: 1.25rem;
  cursor: pointer;
  display: inline-block;
  float: right;
  width: 30px;
}

.nav-check:checked ~ .nav-label {
  background-color: green;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-closed {
  display: none;
}

.nav a:hover {
  color: grey;
  background-color: beige;
}

header {
    background-color: green;
    margin: 0;
}

header h1 {
  margin: 0;
}

.banner-content {
  display: inline-block;
  padding: 0;
  font-weight: lighter;
  color: green;
}

.banner-text {
  width: 50%;
  float: left;
  font-size: 2.5rem;
  line-height: 1.3rem;
}

.img-flex {
  width: 50%;
  float: left;
  margin-top: 2rem;
}

.banner-bottom {
  display: block;
  text-align: center;
  color: green;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.banner-bottom p {
  padding: 0;
  margin: 1.3rem;
  margin-top: 0;
}

.logo {
  float: left;
  max-width: 50%;
  max-height: 1em;
  margin: 1.3rem;
}

.banner {
  display: block;
  background-color: beige;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  text-align: center;
  color: green;
  background-color: orange;
  margin-top: 1.3rem;
  margin-bottom: 2.6rem;
  padding: .5rem 2.6rem;
  text-decoration: none;
}

.btn:hover {
  background-color: lightgreen;
}

.cards {
  background-color: grey;
  text-align: center;
  overflow: hidden;
  display: none;
}

.cards a p {
  color: beige;
  text-decoration: none;
}

.cards img {
  max-width: 80px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  float: left;
  width: 50%;
  background-color: orange;
  padding-bottom: 1.35rem;
}

.deal-of-the-week {
  background-color: green;
  float: left;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 13px;
  text-decoration: none;
  color: green;
}

.dow-content {
  width: 50%;
  margin: 0;
  float: left;
  display: inline-block;
}

.dow-img-flex {
  width: 50%;
  height: 50%;
  float: right;
  display: inline-block;
  padding-bottom: 21px;
}

.deal-of-the-week p {
  padding: 0px 21px 13px 21px;
  margin: 0;
}

.healthy-options {
  background-color: beige;
  width: 100%;
  clear:both;
  overflow: hidden;
}

.menu {
  overflow: hidden;
  clear: both;
  background-color: beige;
}

.icon {
  display: block;
  width: 100%;
}

.icon-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: yellow;
  overflow: hidden;
}

.icon-group-item {
  display: inline-block;
  width: 100%;
  float: left;
  margin: .3em;
  width: 97%;
  padding: .5em;
  padding-bottom: 1.3rem;
  background-color: green;
  color: orange;
  text-align: left;
}

.icon-group-image {
  display: inline-block;
  margin-right: .4em;
  width: 64px;
  vertical-align: middle;
}

.icon-group-body {
  display: inline-block;
  width: calc(100% - 64px - .8em);
  vertical-align: middle;
}

.icon-group-title {
  display: block;
}


.chefs-choice {
  background-color: beige;
  float: left;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 13px;
  text-decoration: none;
}

.cc-content {
  width: 50%;
  margin: 0;
  float: right;
  display: inline-block;
}

.cc-img-flex {
  width: 50%;
  height: 50%;
  float: left;
  display: inline-block;
  padding-bottom: 20px;
}
.chefs-choice p {
  padding: 0px 21px 13px 21px;
  margin: 0;
}

.hours {
  float: left;
  display: inline-block;
  background-color: green;
  width: 50%;
  padding-bottom: 80px;
  min-height: 200px;
}

.fbook-icon {
  width: 30px;
}

.location {
  text-align: right;
  float: right;
  display: inline-block;
  width: 50%;
  min-height: 200px;
  background-color: #red;
}

.location p {
  padding: 0px 21px 13px 21px;
  margin: 0;
}

.hours p {
  padding: 0px 21px 13px 21px;
  margin: 0;
}

.social-media {
  background-color: beige;
}

.social-media-buttons {
  text-align: center;
  clear: both;
  width: 100%;
  padding: 12.3px;
  margin: auto;
  display: block;
}

.fbook-icon {
  margin: 20px;
  margin-top: 0px;
}

footer {
  clear: both;
}

@media only screen and (min-width: 25em) {

  .banner-bottom p {
    margin-top: 1.5rem;
  }

  .cards {
    display: block;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    float: left;
    width: 50%;
    padding-bottom: 1.28rem;
  }

  .card-1 a {
    text-decoration: none;
  }

  .icon-group-item {
    background-color: beige;
  }

}

@media only screen and (min-width: 38em) {

  html {
     font-size: 110%;
     line-height: 1.4;
   }

  .icon-group-item {
    margin: 0;
    width: 50%;
    background-color: green;
    }

  .social-media {
    width: 40%;
    min-height: 200px;
    display: inline-block;
  }

  .hours{
    width: 30%;
  }

  .location{
    width: 30%;
  }

  .social-media-buttons {
    padding: 50px;
  }

  .fbook-icon {
    margin: 5.5px;
  }

  .nav {
    width: 100%;
  }

  .nav li {
    float: left;
    width: 50%;
  }

}

@media only screen and (min-width: 60em) {

  html {
      font-size: 120%;
      line-height: 1.6;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4 {
      float: left;
      width: 25%;
      padding-bottom: 1.26rem;
      min-height: 250px;
    }
    .nav-check,
    .nav-label {
      display: none;
    }

    nav {
      float: right;
    }

    header h1 {
     float: left;
   }

    .nav {
      padding-top: .6rem;
      display: block;
    }

    .nav li {
      width: auto;
      float: none;
      display: inline-block;
    }

    .nav ol {
      text-align: center;
    }
}

@media only screen and (min-width: 90em) {

  html {
  font-size: 130%;
  line-height: 1.5;
}

.banner-text {
  line-height: 3rem;
  font-size: 4rem;
  margin: 0;
}

}
